/*Estilos Base*/
body{
    margin:0;
    padding: 0;
    border: 0;
}
h1,h2,h3,h4,h5,h6,p,a,label{
    font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

input, textarea{
    width: 270px;
    height: 30px;
}

section{
    font-size: 25px;
}
#nav{
    width: 100%;
}

#nav img{
    margin-left: 500px;
}

#nav li{
font-weight: 100;
font-size: 1em;
list-style: none;
display: inline-block;
padding: 0 7%;
}

#nav li a {
    padding: 0;
    font-size: 16px;
    color: #0058FD;
    font-weight: 700;
    text-decoration: none;
}

.contenedor-img {
    width: 400px;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    }
    .contenedor-img .mascara,.contenedor-img .contenido {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
    }
    .contenedor-img img {
    display: block;
    position: relative;
    
    }
    .contenedor-img h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    margin: 20px 0 0 0
    }
    .contenedor-img p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center
    }
    .contenedor-img a.link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
    }
    .contenedor-img a.link:hover {
    box-shadow: 0 0 5px #000
    }
/*Ejemplo 5*/
.ejemplo-5 img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
    
    }
    .ejemplo-5 .mascara {
    background-color: rgb(247, 38, 23);
    transition: all 0.5s linear;
    opacity: 0;
    }
    .ejemplo-5 h2{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #fff;
    transition: all 0.5s linear;
    opacity: 0;
    }
    .ejemplo-5 p {
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    }
    .ejemplo-5 a.link {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    background-color: rgba(255, 255, 255, 0);
    }
    
    .ejemplo-5:hover img {
    transform: scale(10);
    opacity: 0;
    }
    .ejemplo-5:hover .mascara {
    opacity: 1;
    }
    .ejemplo-5:hover h2,
    .ejemplo-5:hover p,
    .ejemplo-5:hover a.link{
    transform: scale(1);
    opacity: 1;
    }

#inicio{
    width: 100%;
    display: block;
}

.presentacion{
    padding:0 300px;
}
.t_propiedad{
    margin: 0 auto;
}

#venta{
    display:inline-block;
    position: relative;
    margin:25px auto;
    width: 100%;
}

#prueba-c{
    position: relative;
    width: 1500px;
    margin: 25px auto;
}

#venta form{
    width: 600px;
    margin: 0 auto;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 5px solid rgb(253, 173, 0);
    font-size: 30px;
}

#info{
    position: relative;
    width: 1200px;
    margin: 25px auto;
}

.campo{
    display: inline-block;
    padding: 10px 150px;
}